
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 align-items-center justify-content-center text-center">
            <img src="~/Public/assets/img/error.png" class="w-100" />
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12 align-items-center justify-content-center text-center">
            <a class="btn btn-link" href="@Url.Action("Home","Home")">Quay lại trang chủ</a>
        </div>
    </div>
</div>
