
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class='card'>
    <div class='card-header'>
        <h1>Welcome Quản Lý Phiếu Thu Phạm Gia Bảo</h1>
    </div>
    <div class='card-body'>
        <p>Đồ án làm quản lý phiếu thu</p>
    </div>
</div>
